<%- include('./Partials/head') %>

<main class="main-product">


<!-- <section class="producten-section"></section> -->
    <% producten.producten.forEach(product => { %>


    <div class="kader-producten">
    
        <picture>
            <img class="pindaproducten" src=" <%= product.plaatjes[0].url %>" alt="pindaofeiproducten">
        </picture>
       
        <h2 class="titelproducten">
            <%= product.titel%>
        </h2>
        
        
        <div class="prijs-button">
            <p class="prijs-product">
                <span>&euro;</span>  <%= product.prijs%>
            </p>

            <a class="button-producten" href="product?id=<%=product.id%>"><img src="/chevron-right.svg" alt="iconarrow"></a>
        </div>
    </div>
      
    <% }); %>
<!-- </section> -->

</main>




<%- include('./Partials/foot') %>