<%- include('./Partials/head') %>



<picture>
    <img class="pindaproducten" src=" <%= product.plaatjes[0].url %>" alt="pindaofeiproducten">
</picture>


<h2 class="titelproducten">
    <%= product.titel%>
</h2>

<p class="prijs-product">
    <span>&euro;</span>  <%= product.prijs%>
</p>

<button>Toevoegen<img src="/shopping-cart.svg" class="navbar-icon-content" alt="iconshoppingcar"></button>
<button>Nu Kopen</button>

<p><%= product.beschrijving.html %> </p>



<%- include('./Partials/foot') %>
